extends ../layout

block content
  div.dynamics-content-login
    h1 Dynamics CRM Dashboard
      .entities
        a.entityItem(href="/dynamics-crm/dashboard/view/accounts") Accounts
        a.entityItem(href="/dynamics-crm/dashboard/view/appointments") Appointments
        a.entityItem(href="/dynamics-crm/dashboard/view/campaigns") Campaigns
        a.entityItem(href="/dynamics-crm/dashboard/view/casess") Cases
        a.entityItem(href="/dynamics-crm/dashboard/view/contacts") Contacts
        //- a.entityItem(href="/dynamics-crm/dashboard/view/email_messages") Email Messages
        a.entityItem(href="/dynamics-crm/dashboard/view/leads") Leads
        //- a.entityItem(href="/dynamics-crm/dashboard/view/letters") Letters
        a.entityItem(href="/dynamics-crm/dashboard/view/opportunities") Opportunities
        a.entityItem(href="/dynamics-crm/dashboard/view/social_profiles") Social Profiles
        a.entityItem(href="/dynamics-crm/dashboard/view/tasks") Tasks
        //- a.entityItem(href="/dynamics-crm/dashboard/view/users") Users