extends ../../layout

block content
  h1 Contacts
  hr
  table.table.table-striped.table-hover
    thead.thead-inverse
      tr
        th Subject
        th ActivityTypeCode
        th ActualStart
        th VersionNumber
        
    tbody 
    - each item in value
      tr
        td= item.subject
        td= item.activitytypecode
        td= item.actualstart
        td= item.versionnumber
  a(href="/dynamics-crm/dashboard" class="btn btn-primary pull-right") Back to dashboard